# Sanity CMS
NEXT_PUBLIC_SANITY_PROJECT_ID=your_project_id
NEXT_PUBLIC_SANITY_DATASET=production
NEXT_PUBLIC_SANITY_API_VERSION=2024-01-01
NEXT_PUBLIC_SANITY_STUDIO_URL=http://localhost:3000/studio

# Sanity API Token (Viewer permissions - used for draft mode and visual editing)
SANITY_API_READ_TOKEN=your_viewer_token
