@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@200;400;700&family=Ropa+Sans&display=swap");

.killer-truths {
  font-family:
    "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.6;
  font-weight: 400;
  color: #222;
}

.killer-truths .container {
  position: relative;
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
}

@media (min-width: 400px) {
  .killer-truths .container {
    width: 85%;
    padding: 0;
  }
}

@media (min-width: 550px) {
  .killer-truths .container {
    width: 80%;
  }
}

.killer-truths h1,
.killer-truths h2,
.killer-truths h3,
.killer-truths h4,
.killer-truths h5,
.killer-truths h6 {
  margin-top: 0;
  text-transform: uppercase;
  font-weight: bold;
}

.killer-truths h2 {
  font-family: "Raleway", sans-serif;
  font-size: 2rem;
  line-height: 2.2rem;
  letter-spacing: 0.1rem;
  color: #656565;
  margin-bottom: 2rem;
}

.killer-truths h3 {
  font-family: "Ropa Sans", sans-serif;
  font-size: 34px;
  line-height: 36px;
  letter-spacing: -0.05rem;
  color: #656565;
  margin-bottom: 15px;
}

.killer-truths p {
  margin-top: 0;
  margin-bottom: 15px;
  font-size: 16px;
}

.killer-truths a {
  color: #e65b47;
  text-decoration: none;
}

.killer-truths a:hover {
  color: #de2005;
}

.killer-truths .section {
  display: block;
  padding: 20px 0;
}

.killer-truths .header,
.killer-truths .chart-wrapper {
  background-color: #373737;
}

.killer-truths .header {
  padding-top: 20px;
  padding-bottom: 0;
}

.killer-truths .killer-hero {
  padding: 0 20px;
}

.killer-truths .killer-hero img {
  display: block;
  width: 100%;
  height: auto;
}

@media (min-width: 550px) {
  .killer-truths .header {
    padding-top: 32px;
  }

  .killer-truths .killer-hero {
    padding: 0 50px;
  }

  .killer-truths .killer-hero img {
    width: auto;
    max-width: 100%;
    height: 150px;
  }
}

.killer-truths .chart-wrapper {
  color: #e5e5e5;
}

.killer-truths .chart-description {
  max-width: 500px;
  margin: 0 20px 20px;
  font-size: 16px;
  color: #e5e5e5;
}

@media (min-width: 550px) {
  .killer-truths .chart-description {
    margin: 0 50px 20px;
  }
}

.killer-truths #killer-chart {
  width: 100%;
}

.killer-truths #killer-chart .bar {
  fill: #ffffff;
}

.killer-truths #killer-chart .name {
  fill: #fbbd9f;
  text-transform: uppercase;
  font-family: "Ropa Sans", sans-serif;
  font-size: 16px;
  text-anchor: end;
}

.killer-truths #killer-chart .value {
  fill: #e65b47;
  font-family: "Ropa Sans", sans-serif;
  font-size: 16px;
  text-anchor: end;
}

.killer-truths #killer-chart .mobile .bar {
  fill: #000000;
}

.killer-truths #killer-chart .mobile .name {
  text-anchor: start;
}

.killer-truths #killer-chart .mobile .value {
  text-anchor: end;
}

@media (max-width: 549px) {
  .killer-truths #killer-chart .name,
  .killer-truths #killer-chart .value {
    font-size: 12px;
  }
}

.killer-truths .download-wrapper {
  background-color: #000000;
}

.killer-truths .download-wrapper ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.killer-truths .download-wrapper ul li {
  flex: 1;
  text-align: center;
}

.killer-truths .download-wrapper ul li a {
  display: block;
  padding: 10px;
}

.killer-truths .dl-img {
  display: block;
  width: 100%;
  margin-bottom: 0;
}

.killer-truths .dl-img svg {
  width: 30px;
  height: 30px;
}

@media (min-width: 550px) {
  .killer-truths .dl-img {
    margin-bottom: 10px;
  }

  .killer-truths .dl-img svg {
    width: 50px;
    height: 50px;
  }
}

.killer-truths .dl-text {
  font-size: 14px;
}

.killer-truths .authors-wrapper {
  background: #d7d7d7;
  color: #656565;
}

.killer-truths .authors,
.killer-truths .contributors {
  margin: 30px 0 50px;
}

.killer-truths .author {
  margin-bottom: 10px;
}

.killer-truths .author .auth-img,
.killer-truths .author .authtext {
  display: inline-block;
  vertical-align: top;
}

.killer-truths .author .auth-img {
  width: 25%;
  margin-right: 20px;
}

.killer-truths .author .authtext {
  width: 60%;
  margin-top: -5px;
}

.killer-truths .author .authtext .studio {
  margin-bottom: 15px;
  color: #656565;
}

.killer-truths .scale-with-grid {
  display: block;
  max-width: 100%;
  height: auto;
}

@media (max-width: 549px) {
  .killer-truths .author .auth-img,
  .killer-truths .author .authtext {
    display: block;
    width: 100%;
    margin-right: 0;
  }

  .killer-truths .author .auth-img {
    max-width: 160px;
    margin-bottom: 16px;
  }

  .killer-truths .author .authtext {
    margin-top: 0;
  }
}

.killer-truths .sources-wrapper {
  background: #ffffff;
  color: #656565;
}

.killer-truths .footnotes ol {
  margin: 0;
  padding: 0;
  counter-reset: item;
  list-style: none;
}

.killer-truths .footnotes ol li {
  line-height: 2.2rem;
  position: relative;
  display: block;
  color: #353535;
  padding-left: 2em;
  margin-bottom: 0.5rem;
}

.killer-truths .footnotes li::before {
  content: counter(item) ".";
  counter-increment: item;
  position: absolute;
  left: 0;
  width: 1.5em;
  text-align: right;
  color: #989898;
  font-size: 12px;
}

.killer-truths .footnotes ol li a {
  display: inline;
  word-wrap: break-word;
}

.killer-truths .sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}
